@{
    ViewData["Title"] = "view_issue_book";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

@{
    var uniqueBooks = new HashSet<string>();
}

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Member List</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a asp-action="Members" asp-controller="Admin" class="btn btn-primary">Add New Member</a>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-responsive">
                            <table class=" table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Age</th>
                                        <th>Contact Number</th>
                                        <th>Deposite</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (System.Data.DataRow dr in ViewBag.view_member.Rows)
                                        {
                                            <tr>
                                                <td>@dr["id"].ToString()</td>
                                                <td>@dr["name"].ToString()</td>
                                                <td>@dr["email"].ToString()</td>
                                                <td>@dr["age"].ToString()</td>
                                                <td>@dr["contact_number"].ToString()</td>
                                                <td>@dr["deposite"].ToString()</td>
                                                <td>
                                                    <div class="flex align-items-center list-user-action">
                                                        <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" asp-controller="Admin" asp-action="update_member" asp-route-id="@dr["id"]" width="100px">
                                                            <i class="ri-pencil-line"></i>
                                                        </a>
                                                        <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete" href="@Url.Action("delete_member", "Admin", new { id = dr["id"] })">
                                                            <i class="ri-delete-bin-line"></i>
                                                        </a>

                                                    </div>
                                                </td>

                                            </tr>
                                        }
                                    }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>