@{
    ViewData["Title"] = "view_book";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

@{
    var uniqueBooks = new HashSet<string>();
}
 
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">book Lists</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a asp-action="Add_book" asp-controller="Admin" class="btn btn-primary">Add New book</a>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-responsive">
                            <table class=" table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 3%;">No</th>
                                        <th style="width: 12%;">Book Image</th>
                                        <th style="width: 15%;">Book Name</th>
                                        <th style="width: 18%;">Book Author</th>
                                        <th style="width: 18%;">ISBN Number</th>
                                        <th style="width: 22%;">Book Description</th>
                                        <th style="width: 15%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (System.Data.DataRow dr in ViewBag.add_book.Rows)
                                    {
                                        var books = dr["book_name"].ToString();

                                        if (!uniqueBooks.Contains(books))
                                        {
                                            uniqueBooks.Add(books);
 
                                            <tr>
                                                <td>@dr["id"]</td>
                                                <td><img class="img-fluid rounded" src="~/images/@dr["photo"].ToString()" alt="Book Image"></td>
                                                <td>@dr["book_name"].ToString()</td>
                                                <td>@dr["author_name"].ToString()</td>
                                                <td>@dr["isbn"].ToString()</td>
                                                <td>
                                                    <p class="mb-0">@dr["description"].ToString()</p>
                                                </td>
                                                <td>
                                                    <div class="flex align-items-center list-user-action">
                                                        <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" asp-controller="Admin" asp-action="update_book" asp-route-id="@dr["id"]" width="100px">
                                                            <i class="ri-pencil-line"></i>
                                                        </a>
                                                        <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete" href="@Url.Action("deleteBookData", "Admin", new { id = dr["id"] })">
                                                            <i class="ri-delete-bin-line"></i>
                                                        </a>

                                                    </div>
                                                </td>
                                            </tr>
                                         } 
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
